.sql
*.fa
*.fna
*.fasta
*.svg

.vagrant
*.DS_Store
.vscode
.idea
public/scripts/*.pyc
homdData*
*.pyc
!db_schema.sql
!db_config.sql.gz
!db_schema_w_test_data.sql
!db_schema_w_test_data.sql.gz
*.csv.gz
*.tsv.gz
*.json
newrelic.js
*newrelic.js
bin/versions.sh
version.log
old/*
